html {
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    max-width: 940px;
    padding: 20px 10px;
    margin: 0 auto;
    background: #fff;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Links
   ========================================================================== */

a {
    color: #0084b4;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #005E80;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

/* Typography
   ========================================================================== */

h1,
h2,
h3 {
    margin: 0 0 1em;
}

h1, .h1 {
    margin: 0 0 0.25em;
    font-size: 2.75em;
}

h2, .h2 {
    font-size: 1.25em;
}

h3, .h3 {
    font-size: 1.125em;
    color: #777;
}

p {
    margin: 0 0 1em;
}

/* Lists
   ========================================================================== */

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* =============================================================================
   Structure
   ========================================================================== */

.grid {
    display: block;
    padding: 0;
    margin: 0 -10px;
    /* remove intra-unit whitespace for all font families */
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    /* protect against WebKit bug with optimizelegibility */
    text-rendering: optimizespeed;
}

.unit-1-3 {
    width: 300px;
    display: inline-block;
    margin: 0 10px 20px;
    /* controls vertical positioning of units */
    vertical-align: top;
    /* reset defaults */
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    *display: inline;
    *zoom: 1;
}

/* Box
   ========================================================================== */

.box {
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 150px;
    padding: 15px 15px 45px;
    border-radius: 4px;
    text-decoration: none;
    background: #2ecc71;
    color: #fff;
    border: 1px solid #27ae60;
}

.box.info {
    background: #f8f8f8;
    color: #333;
    border: 1px solid #ddd;
}

.box.default {
    background: #34495e;
    color: #fff;
    border: 1px solid #2c3e50;
}

a.box:hover,
a.box:focus,
a.box:active {
    box-shadow: inset 0 0 0 3px #000;
    border-color: #000;
    text-decoration: none;
    color: #fff;
}

/* Header
   ========================================================================== */

.site-header {
    float:left;
    text-align: center;
}

.site-logo img {
    border: 1px solid #222;
    margin-top: 20px;
}

/* Content
   ========================================================================== */

.gist__name {
    margin: 0 0 0.1em;
    font-size: 1.5em;
    color: rgba(255,255,255, 0.6);
}

.gist__info {
    display: block;
    margin: 0 0 1.25em;
    font-size: 12px;
    font-weight: bold;
    color: rgba(255,255,255, 0.5);
}

.gist__desc {
    color: #fff;
}

.gist__updated {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
    margin: 0;
    font-size: 13px;
    font-style: italic;
    color: rgba(255,255,255, 0.4);
}

.gist__file {
    background: rgba(0,0,0, 0.3);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    margin-bottom: 5px;
    border-radius: 4px;
    color: rgba(255,255,255, 0.4);
}

/* =============================================================================
   Small screen adjustments
   ========================================================================== */

@media (max-width:960px) {

    body {
        max-width: 620px;
    }

}

@media (max-width:640px) {

    body {
        max-width: 300px;
    }

}
